.new-book-wraper {
  display: flex;
  align-items: center;
  border-top: 1px dotted #ccc;
}

.new-book-wraper:last-child {
  border-bottom: 1px dotted #ccc;

}

.time-home-new,
.title-home-new {
  padding: 10px 9px;
}


.genre-home-new,
.chapter-home-new {
  padding: 10px 9px;
}

.home-shared {
  color: black;
  font-size: 14px !important;
  font-weight: 700;
}


.home-shared.chapter {
  color: rgb(117, 68, 242) !important;
  font-size: 14px !important;
  font-weight: 700;
}


