.title-Subpage {
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.title-Subpage h2 {
  font-size: 1.7rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.668);
}

.text-desc {
  margin-top: 30px;
  height: 260px;
  overflow-y: scroll;
  font-size: 12px;
  line-height: 1rem;
  color: #625252;
}

.text-desc::-webkit-scrollbar{
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
  height: 100px;
}

.text-desc span {
  font-size: 14px;
  font-weight: 500;
  padding: 0 10px;
}
